.theme-brown {
    --primary-light-bg: #57534e;
    --primary-light-txt: white;
    --secondary-light-bg: #78716c;
    --secondary-light-txt: white;
    --background-light-bg: #f5f5f4;
    --secondary-strong-light-bg: #78716c;
    --secondary-strong-light-txt: white;
}