:root {
    --primary-light-bg: #0e7490;
    --primary-light-txt: white;
    --secondary-light-bg: #06b6d4;
    --secondary-light-txt: white;
    --success-light-bg: #16a34a;
    --success-light-txt: white;
    --warning-light-bg: #f59e0b;
    --warning-light-txt: white;
    --danger-light-bg: #ef4444;
    --danger-light-txt: white;
    --light-light-bg: #6b7280;
    --light-light-txt: white;
    --lighter-light-bg: #e2e8f0;
    --lighter-light-txt: #1f2937;
    --semilight-light-bg: #94a3b8;
    --semilight-light-txt: #1f2937;
    --background-light-bg: white;
    --background-light-txt: #1f2937;
    --foreground-light-bg: white;
    --foreground-light-txt: #1f2937;
    --secondary-strong-light-bg: #06b6d4;
    --secondary-strong-light-txt: white;
    // dark theme
    --primary-dark-bg: #0a0a0a;
    --primary-dark-txt: #f5f5f5;
    --secondary-dark-bg: #475569;
    --secondary-dark-txt: #f5f5f5;
    --success-dark-bg: #16a34a;
    --success-dark-txt: #f5f5f5;
    --warning-dark-bg: #f59e0b;
    --warning-dark-txt: white;
    --danger-dark-bg: #ef4444;
    --danger-dark-txt: #f5f5f5;
    --light-dark-bg: #9ca3af;
    --light-dark-txt: #1f2937;
    --lighter-dark-bg: #525252;
    --lighter-dark-txt: white;
    --semilight-dark-bg: #525252;
    --semilight-dark-txt: white;
    --background-dark-bg: #272822;
    --background-dark-txt: #d4d4d4;
    --foreground-dark-bg: black;
    --foreground-dark-txt: #d4d4d4;
    --secondary-strong-dark-bg: #475569;
    --secondary-strong-dark-txt: #f5f5f5;
}