.theme-lime-black {
    --primary-light-bg: #000;
    --primary-light-txt: white;
    --secondary-light-bg: #a3e635;
    --secondary-light-txt: #000;
    --background-light-bg: #f5f5f4;
    --secondary-strong-light-bg: #4d7c0f;
    --secondary-strong-light-txt: white;
}