.theme-pink-black {
    --primary-light-bg: #1e293b;
    --primary-light-txt: white;
    --secondary-light-bg: #EB03B7;
    --secondary-light-txt: white;
    --background-light-bg: #f5f5f4;
    --secondary-strong-light-bg: #EB03B7;
    --secondary-strong-light-txt: white;
}