.theme-stone {
    --prim-light-bg: oklch(97% 0.001 106.424);
    --prim-light-txt: oklch(56% 0.021 213.5);
    --sec-light-bg: #78716c;
    --sec-light-txt: white;
    --background-light-bg: oklch(98.5% 0.001 106.423);
}